## main
storage -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,uid=1000,gid=1000,credentials={{cifsCredentialsPath}} ://nas.mado.moe/main-storage
music -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,uid=1000,gid=1000,credentials={{cifsCredentialsPath}} ://nas.mado.moe/main-music
picture -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,uid=1000,gid=1000,credentials={{cifsCredentialsPath}} ://nas.mado.moe/main-picture
photo -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,uid=1000,gid=1000,credentials={{cifsCredentialsPath}} ://nas.mado.moe/main-photo
book -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,uid=1000,gid=1000,credentials={{cifsCredentialsPath}} ://nas.mado.moe/main-book

## sub
aria2 -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,uid=1000,gid=1000,credentials={{cifsCredentialsPath}} ://nas.mado.moe/sub-aria2
aria2-baidu -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,uid=1000,gid=1000,credentials={{cifsCredentialsPath}} ://nas.mado.moe/sub-aria2-baidu
bangumi -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,uid=1000,gid=1000,credentials={{cifsCredentialsPath}} ://nas.mado.moe/sub-bangumi
torrent-download -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,uid=1000,gid=1000,credentials={{cifsCredentialsPath}} ://nas.mado.moe/sub-torrent-download
torrent-upload -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,uid=1000,gid=1000,credentials={{cifsCredentialsPath}} ://nas.mado.moe/sub-torrent-upload
tvshow -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,uid=1000,gid=1000,credentials={{cifsCredentialsPath}} ://nas.mado.moe/sub-tvshow
movie -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,uid=1000,gid=1000,credentials={{cifsCredentialsPath}} ://nas.mado.moe/sub-movie
