sed -i "s/\(theme.*\)\"[^\"]*\"/\1\"$1\"/" {{statePath}}
home-manager switch --flake {{flakeUri}}
i3-msg reload
killall -USR2 i3status-rs
powerline-daemon --replace
tmux source {{powerlineTmuxConfPath}}


