# Auto Restore
set -g @continuum-restore 'on'

# Tmux jump
set -g @jump-key 't'

bind R source-file ~/.config/tmux/tmux.conf\; display-message "~/.config/tmux/tmux.conf reloaded"
bind z confirm-before "kill-window"
bind Z confirm-before "kill-session"
bind S command-prompt -p "New Session:" "new-session -A -s '%%'"
bind ^D detach

# Pane navigation
bind-key h   select-pane -L
bind-key j   select-pane -D
bind-key k   select-pane -U
bind-key l   select-pane -R
# Pane movement
bind '@' command-prompt -p "join pane from:"  "join-pane -s '%%'"
bind '#' command-prompt -p "send pane to:" "join-pane -t '%%'"
# Pane rotation
bind K rotate -U
bind J rotate -D
# Pane split
bind-key "|" split-window -h -c "#{pane_current_path}"
bind-key "\\" split-window -fh -c "#{pane_current_path}"
bind-key "-" split-window -v -c "#{pane_current_path}"
bind-key "_" split-window -fv -c "#{pane_current_path}"
bind-key "%" split-window -h -c "#{pane_current_path}"
bind-key '"' split-window -v -c "#{pane_current_path}"
# Pane resize
bind-key -r -T prefix M-k resize-pane -U 5
bind-key -r -T prefix M-j resize-pane -D 5
bind-key -r -T prefix M-l resize-pane -L 5
bind-key -r -T prefix M-r resize-pane -R 5
# Zoom pane to maximum size.
bind a "resize-pane -Z"

# New window
bind c new-window -c "#{pane_current_path}"

# Window reordering
bind < swap-window -t -1\; select-window -t -1
bind > swap-window -t +1\; select-window -t +1
# clean history
bind , send-keys -R \; run "sleep 0.1" \; clear-history

# Copy mode key bindings
bind-key -T copy-mode-vi v   send -X begin-selection
bind-key -T copy-mode-vi V   send -X select-line
bind-key -T copy-mode-vi C-v send -X rectangle-toggle
bind-key -T copy-mode-vi 'y' send-keys -X copy-pipe-and-cancel "{{copyCommand}}"
bind-key -T copy-mode-vi 'Y' send-keys -X copy-pipe "{{copyCommand}}"

# Press C-q to disable/enable prefix for outer session
bind -T root C-q  \
  set prefix None \;\
  set key-table off \;\
  refresh-client -S \;\

bind -T off C-q \
  set -u prefix \;\
  set -u key-table \;\
  refresh-client -S


# tmux fzf
bind-key s run-shell -b "{{tmuxFzfScriptsDir}}/session.sh switch"
bind-key w run-shell -b "{{tmuxFzfScriptsDir}}/window.sh switch"

# Extrakto
set -g @extrakto_fzf_tool fzf
set -g @extrakto_key o
set -g @extrakto_split_size 20
set -g @extrakto_fzf_options "{{sessionVariables.FZF_DEFAULT_OPTS}}"
set -g @extrakto_opts "path/url word lines"
set -g @extrakto_clip_tool "{{copyCommand}}"
