(mapcar #'disable-theme custom-enabled-themes)
{%if theme == "light"%}
(load-theme 'doom-nord-light t)
{%else%}
(load-theme 'sanityinc-tomorrow-night t)
{%endif%}
(setq frame-background-mode 'dark)
(mapc 'frame-set-background-mode (frame-list))
