## main
storage -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,uid=1000,gid=1000,credentials={{cifsCredentialsFile}} ://sachi.m.mado.moe/main-storage
music -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,uid=1000,gid=1000,credentials={{cifsCredentialsFile}} ://sachi.m.mado.moe/main-music
picture -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,uid=1000,gid=1000,credentials={{cifsCredentialsFile}} ://sachi.m.mado.moe/main-picture
photo -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,uid=1000,gid=1000,credentials={{cifsCredentialsFile}} ://sachi.m.mado.moe/main-photo
book -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,nobrl,uid=1000,gid=1000,credentials={{cifsCredentialsFile}} ://sachi.m.mado.moe/main-book
sync -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,nobrl,uid=1000,gid=1000,credentials={{cifsCredentialsFile}} ://sachi.m.mado.moe/main-sync

## sub
aria2 -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,uid=1000,gid=1000,credentials={{cifsCredentialsFile}} ://sachi.m.mado.moe/sub-aria2
aria2-baidu -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,uid=1000,gid=1000,credentials={{cifsCredentialsFile}} ://sachi.m.mado.moe/sub-aria2-baidu
bangumi -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,uid=1000,gid=1000,credentials={{cifsCredentialsFile}} ://sachi.m.mado.moe/sub-bangumi
torrent-download -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,uid=1000,gid=1000,credentials={{cifsCredentialsFile}} ://sachi.m.mado.moe/sub-torrent-download
download -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,uid=1000,gid=1000,credentials={{cifsCredentialsFile}} ://sachi.m.mado.moe/sub-download
tvshow -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,uid=1000,gid=1000,credentials={{cifsCredentialsFile}} ://sachi.m.mado.moe/sub-tvshow
movie -fstype=cifs,rw,noserverino,forceuid,forcegid,cache=strict,uid=1000,gid=1000,credentials={{cifsCredentialsFile}} ://sachi.m.mado.moe/sub-movie
