global:
  logging:
    - type: syslog
      format: human
      level: warn

jobs:
  - type: push
    name: "push"
    filesystems:
      "tank/encrypted<": true
    connect:
      type: tls
      address: "yumiko.machine.15cm.net:{{ports.sink}}"
      server_cn: "yumiko.machine.15cm.net"
      ca: {{caCertFile}}
      cert: {{certFile}}
      key: {{keyFile}}
    snapshotting:
      type: periodic
      prefix: zrepl_
      interval: 1d
    send:
      encrypted: true
      compressed: true
    pruning:
      keep_sender:
        - type: not_replicated
        - type: last_n
          count: 10
        - type: grid
          grid: 14x1d
          regex: "^zrepl_.*"
        - type: regex
          regex: "^manual_.*"
      keep_receiver:
        - type: grid
          grid: 35x1d | 6x30d
          regex: "^zrepl_.*"
        - type: regex
          regex: "^manual_.*"
