global:
  logging:
    - type: syslog
      format: human
      level: warn
  monitoring:
  - type: prometheus
    listen: ':{{monitoringPort}}'

jobs:
  - type: push
    name: "push"
    filesystems: {
      "main<": true,
      # Backups don't need auto snapshots. They are pushed via wakeup viasystemd timer.
      "main/backup<": false,
      "main/backup-old<": false,
      "main/backup-clone-for-mount<": false,
      "main/storage/inbox<": false,
      "main/storage/torrent<": false,
      "main/storage/resources<": false,
      "main/credentials<": false,
    }
    connect:
      type: tls
      address: "yumiko.machine.15cm.net:{{ports.sink}}"
      server_cn: "yumiko.machine.15cm.net"
      ca: {{caCertFile}}
      cert: {{certFile}}
      key: {{keyFile}}
    snapshotting:
      type: periodic
      prefix: zrepl_
      interval: 1h
    send:
      encrypted: true
      compressed: true
    pruning:
      keep_sender:
        - type: not_replicated
        - type: last_n
          count: 10
        - type: grid
          grid: 24x1h | 35x1d | 6x30d
          regex: "^zrepl_.*"
        - type: regex
          regex: "^manual_.*"
      keep_receiver:
        - type: grid
          grid: 24x1h | 14x1d | 1x30d
          regex: "^zrepl_.*"
        - type: regex
          regex: "^manual_.*"

  - type: source
    name: "source_sachi_backup"
    filesystems:
      "main/backup/kazuki.machine.mado.moe/rpool<": true
      "main/backup/asako.machine.mado.moe/rpool<": true

    serve:
      type: tls
      listen: ":{{ports.source}}"
      ca: {{caCertFile}}
      cert: {{certFile}}
      key: {{keyFile}}
      client_cns:
        - "yumiko.machine.15cm.net"
    snapshotting:
      type: manual

  - type: snap
    name: "local_snap"
    filesystems: {
      "main/storage/torrent<": true,
      "main/storage/resources<": true,
      "main/credentials<": true,
    }
    snapshotting:
      type: periodic
      prefix: local_zrepl_
      interval: 1h
    pruning:
      keep:
        - type: last_n
          count: 10
        - type: grid
          grid: 24x1h | 35x1d | 6x30d
          regex: "^local_zrepl_.*"
        - type: regex
          regex: "^manual_.*"
        - type: regex
          regex: "^zrepl_.*"

  - type: sink
    name: "sink"
    root_fs: "main/backup"
    serve:
      type: tls
      listen: ":{{ports.sink}}"
      ca: {{caCertFile}}
      cert: {{certFile}}
      key: {{keyFile}}
      client_cns:
        - "kazuki.machine.mado.moe"
        - "asako.machine.mado.moe"
    recv:
      placeholder:
        encryption: inherit
