global:
  logging:
    - type: syslog
      format: human
      level: warn

jobs:
  - type: sink
    name: "sink"
    root_fs: "tank/push"
    serve:
      type: tls
      listen: ":{{ports.sink}}"
      ca: {{caCertFile}}
      cert: {{certFile}}
      key: {{keyFile}}
      client_cns:
        - "sachi.m.mado.moe"
        - "amane.m.mado.moe"
    recv:
      placeholder:
        encryption: inherit

  - type: pull
    name: "pull_sachi_backup"
    connect:
      type: tls
      address: "sachi.m.mado.moe:{{ports.pull}}"
      server_cn: "sachi.m.mado.moe"
      ca: {{caCertFile}}
      cert: {{certFile}}
      key: {{keyFile}}
    root_fs: "tank/pull"
    interval: 1h
    recv:
      placeholder:
        encryption: inherit
    pruning:
      # Source does the pruning in its snap job
      keep_sender:
        - type: regex
          regex: '.*'
      # Receiver-side pruning can be configured as desired on each target server
      keep_receiver:
        - type: grid
          grid: 24x1h | 14x1d | 1x30d
          regex: "^zrepl_.*"
        - type: regex
          regex: "^manual_.*"
