{
  "ext": {
    "shell": {
      "theme": "default",
      "local_themes": {
        "continuation": "continuation",
        "select": "select"
      },
      "colorscheme": "{{colorScheme}}"
    },
    "tmux": {
      "theme": "default",
      "colorscheme": "{{colorScheme}}"
    },
    "common": {
      "term_truecolor": false
    }
  }
}
