[icons]
icons = "awesome5"

[theme]
theme = "{{colorScheme}}"
[theme.overrides]
separator = ""

[[block]]
block = "net"
{%if hostname == "asako"%}
device = 'wlp\d+s\d+'
{%else%}
device = 'enp\d+s\d+'
{%endif%}
format = " $icon $ip ^icon_net_down $speed_down.eng(prefix:M) ^icon_net_up $speed_up.eng(prefix:M) "
[block.theme_overrides]
{%if theme == "light"%}
good_bg = "#fdf6e3" # base3
good_fg = "#586e75" # base01
{%else%}
good_bg = "#2e3440" # nord0
good_fg = "#81a1c1" # light blue
{%endif%}

[[block]]
block = "net"
device = 'tailscale\d+'
format = " $icon {$ip|unknown ip}"
[block.theme_overrides]
{%if theme == "light"%}
good_bg = "#fdf6e3" # base3
good_fg = "#586e75" # base01
{%else%}
good_bg = "#2e3440" # nord0
good_fg = "#81a1c1" # light blue
{%endif%}

[[block]]
block = "memory"

# [[block]]
# block = "temperature"
# collapsed = false
# interval = 10
# format = "{min}° min, {max}° max, {average}° avg"
# chip = "*-acpi-*"

[[block]]
block = "cpu"
interval = 3


[[block]]
block = "disk_space"
path = "/"
info_type = "available"
interval = 1800
warning = 20.0
alert = 10.0

{%if hostname == "asako"%}
[[block]]
block = "battery"
driver = "upower"
[block.theme_overrides]
{%if theme == "light"%}
good_bg = "#fdf6e3" # base3
good_fg = "#586e75" # base01
{%else%}
good_bg = "#2e3440" # nord0
good_fg = "#81a1c1" # light blue
{%endif%}
{%endif%}

# TODO: retry the block after upgrading to v0.3
# {%if hostname == "asako"%}
# [[block]]
# block = "backlight"
# {%endif%}

[[block]]
block = "sound"

[[block]]
block = "time"
interval = 60
format = " $icon $timestamp.datetime(f:'%a %Y-%m-%d %R') "
