env = LIBVA_DRIVER_NAME,nvidia
env = XDG_SESSION_TYPE,wayland
env = GBM_BACKEND,nvidia-drm
env = __GLX_VENDOR_LIBRARY_NAME,nvidia
env = WLR_NO_HARDWARE_CURSORS,1
env = GDK_BACKEND,wayland,x11
env = QT_QPA_PLATFORM,wayland;xcb
env = GDK_SCALE,2
env = QT_AUTO_SCREEN_SCALE_FACTOR,1
env = hyprctl setcursor Vanilla-DMZ 24

$monitor_1 = {{monitors.one}}
$monitor_2 = {{monitors.two}}

monitor=DP-1, highres, auto, 2
monitor=DP-2, highres, auto, 2
exec-once = xprop -root -f _XWAYLAND_GLOBAL_OUTPUT_SCALE 32c -set _XWAYLAND_GLOBAL_OUTPUT_SCALE 2
exec-once = xrdb -merge ~/.Xresources

workspace = 1, monitor:$monitor_1, default:true
workspace = 2, monitor:$monitor_1
workspace = 3, monitor:$monitor_1
workspace = 4, monitor:$monitor_1
workspace = 5, monitor:$monitor_1
workspace = 6, monitor:$monitor_2, default:true
workspace = 7, monitor:$monitor_2
workspace = 8, monitor:$monitor_2
workspace = 9, monitor:$monitor_2
workspace = 0, monitor:$monitor_2

animations {
  enabled = true
  # Some default animations, see https://wiki.hyprland.org/Configuring/Animations/ for more
  bezier = myBezier, 0.05, 0.9, 0.1, 1.05

  animation = windows, 1, 7, myBezier
  animation = windowsOut, 1, 7, default, popin 80%
  animation = border, 1, 10, default
  animation = borderangle, 1, 8, default
  animation = fade, 1, 7, default
  animation = workspaces, 1, 6, default
}

input {
  # Cursor focus will be detached from keyboard focus. Clicking on a window will move keyboard focus to that window.
  follow_mouse = 2
  repeat_rate = 20
  repeat_delay = 250
}

# Frequently used apps.
$mainMod = SUPER
bind = $mainMod, Q, killactive
bind = $mainMod, return, exec, alacritty
bind = $mainMod, D, exec, wofi -i --show drun
bind = $mainMod, U, exec, goldendict
bind = $mainMod, U, focuswindow, ^(GoldenDict)$
bind = $mainMod, I, exec, keepassxc
bind = $mainMod, I, focuswindow, ^(org.keepassxc.KeePassXC)$

# App launcher.
bind = $mainMod, O, submap, open
submap = open
bind = , F, exec, firefox
bind = , F, submap, reset
bind = , D, exec, nautilus --new-window
bind = , D, submap, reset
bind = , S, exec, grim -g "$(slurp)" "$HOME/Screenshots"/"$(date +%Y%m%d-%H%M%S)".png
bind = , S, submap, reset
bind = , E, exec, emacsclient -c
bind = , E, submap, reset
bind = , M, exec, {{musicPlayer}}
bind = , M, submap, reset
bind = , escape, submap, reset
submap = reset

general {
  # See https://wiki.hyprland.org/Configuring/Variables/ for more

  gaps_in = 5
  gaps_out = 20
  border_size = 4
  col.active_border = rgba(33ccffee) rgba(00ff99ee) 45deg
  col.inactive_border = rgba(595959aa)
  cursor_inactive_timeout = 300

  layout = master
}

master {
  new_is_master = false
  new_on_top = false
}

bind = $mainMod ALT, E, exit

# Switch workspaces with mainMod + [0-9]
bind = $mainMod, 1, workspace, 1
bind = $mainMod, 2, workspace, 2
bind = $mainMod, 3, workspace, 3
bind = $mainMod, 4, workspace, 4
bind = $mainMod, 5, workspace, 5
bind = $mainMod, 6, workspace, 6
bind = $mainMod, 7, workspace, 7
bind = $mainMod, 8, workspace, 8
bind = $mainMod, 9, workspace, 9
bind = $mainMod, 0, workspace, 10

# Move active window to a workspace with mainMod + SHIFT + [0-9]
bind = $mainMod SHIFT, 1, movetoworkspace, 1
bind = $mainMod SHIFT, 2, movetoworkspace, 2
bind = $mainMod SHIFT, 3, movetoworkspace, 3
bind = $mainMod SHIFT, 4, movetoworkspace, 4
bind = $mainMod SHIFT, 5, movetoworkspace, 5
bind = $mainMod SHIFT, 6, movetoworkspace, 6
bind = $mainMod SHIFT, 7, movetoworkspace, 7
bind = $mainMod SHIFT, 8, movetoworkspace, 8
bind = $mainMod SHIFT, 9, movetoworkspace, 9
bind = $mainMod SHIFT, 0, movetoworkspace, 10

bind = $mainMod, j, layoutmsg, cyclenext
bind = $mainMod, k, layoutmsg, cycleprev
bind = $mainMod SHIFT, j, layoutmsg, swapnext
bind = $mainMod SHIFT, k, layoutmsg, swapprev
bind = $mainMod, h, layoutmsg, focusmaster
bind = $mainMod SHIFT, h, layoutmsg, swapwithmaster master
bind = $mainMod, n, focusmonitor, DP-1
bind = $mainMod, m, focusmonitor, DP-2
bind = $mainMod SHIFT, n, movewindow, mon:DP-1
bind = $mainMod SHIFT, m, movewindow, mon:DP-2

# Window dispatchers
bind = $mainMod, F, fullscreen, 1
bind = $mainMod SHIFT, F, fullscreen, 0
bind = $mainMod, X, togglefloating
bind = $mainMod, P, pin

bind = $mainMod, mouse_up, workspace, e+1
bind = $mainMod, mouse_down, workspace, e-1

# Move windows with mainMod + shift + right mouse button and dragging
bindm = $mainMod SHIFT, mouse:273, movewindow
# Resize windows with mainMod + shift + left mouse button and dragging
bindm = $mainMod SHIFT, mouse:272, resizewindow