global:
  logging:
    # use syslog instead of stdout because it makes journald happy
    - type: syslog
      format: human
      level: warn

jobs:
  - type: push
    name: "push"
    filesystems: {
      "rpool/data<": true,
      "rpool/data/home/sinkerine/.cache": false,
      "rpool/data/home/sinkerine/vmware": false,
      "rpool/data/var-lib-docker<": false,
    }
    connect:
      type: tls
      address: "sachi.machine.mado.moe:38888"
      server_cn: "sachi.machine.mado.moe"
      ca: {{caCertPath}}
      cert: {{certPath}}
      key: {{keyPath}}
    snapshotting:
      type: periodic
      prefix: zrepl_
      interval: 1h
    send:
    pruning:
      keep_sender:
        - type: not_replicated
        - type: last_n
          count: 10
        - type: grid
          grid: 24x1h | 14x1d
          regex: "^zrepl_.*"
        - type: regex
          regex: "^manual_.*"
      keep_receiver:
        - type: grid
          grid: 48x1h | 35x1d | 6x30d
          regex: "^zrepl_.*"
        - type: regex
          regex: "^manual_.*"
        - type: regex
          regex: "^local_zrepl_.*"
