global:
  logging:
    - type: syslog
      format: human
      level: warn
  monitoring:
  - type: prometheus
    listen: ':{{monitoringPort}}'

jobs:
  - type: push
    name: "push"
    filesystems: {
      "rpool": true,
      "rpool/tmp<": false,
      "rpool/data<": true,
      "rpool/data/var<": false,
      "rpool/data/var-lib-docker<": false,
      "rpool/data/home/sinkerine/.cache": false,
      "rpool/data/home/sinkerine/vmware": false,
    }
    connect:
      type: tls
      address: "sachi.m.mado.moe:{{ports.push}}"
      server_cn: "sachi.m.mado.moe"
      ca: {{caCertFile}}
      cert: {{certFile}}
      key: {{keyFile}}
    snapshotting:
      type: periodic
      prefix: zrepl_
      interval: 1h
    send:
      compressed: true
    pruning:
      keep_sender:
        - type: not_replicated
        - type: last_n
          count: 10
        - type: grid
          grid: 24x1h | 14x1d
          regex: "^zrepl_.*"
        - type: regex
          regex: "^manual_.*"
      keep_receiver:
        - type: grid
          grid: 48x1h | 35x1d | 12x30d
          regex: "^zrepl_.*"
        - type: regex
          regex: "^manual_.*"
