sed -i "s/\(theme.*\)\"[^\"]*\"/\1\"$1\"/" {{statePath}}
switch-nix-home.sh
i3-msg reload
killall -r -USR2 i3status-rs
powerline-daemon --replace
tmux source {{powerlineTmuxConfPath}}
emacsclient -eun '(load "~/.config/emacs/scripts/load-theme.el")'



